  <div class="signature">
    <div class="customline2">
    <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
            <tr>
                <td>
                    <font style="font-weight: bold; font-family: Arial; font-size: 12pt; color: rgb(51, 51, 51);">Hasan B</font>
                </td>
            </tr>
            <tr>
                <td>
            <font style="font-style: italic; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);">Software Engineer</font>
                </td>
            </tr>
            <p class="customline1">
            <font style="font-family: Arial; font-size: 8pt; color: rgb(136, 136, 136);">Also known as creatorb [creatorbe], just an ordinary people, al-faqeer who Allah made him fall-in love to learning. Wanna be lifelong leaner and believes in continuous growth, both in technical expertise and spiritual understanding.</font></p>
    <tr>
        <td style="border-left: 3px solid #414141; vertical-align: middle;">
            <table cellspacing="0" cellpadding="0" border="0" style="padding-left: 10px;">
                <tbody><tr>
                    <td style="padding-right: 10px; padding-left: 5px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong>WA</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="https://wa.me/6289619060672" style="color: #06c">+6289619060672</a></font>
                    </td>
                </tr>

                <tr>
                    <td style="padding-right: 10px; padding-left: 5px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong>TG</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="https://telegram.me/creatorbe" style="color: #06c">@creatorbe</a></font>
                    </td>
                </tr>

                <tr>
                    <td style="padding-right: 10px; padding-left: 5px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong> Email</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="mailto:creatorb45@gmail.com" style="color: #06c">creatorb45@gmail.com</a></font>
                    </td>
                </tr>

            </tbody></table>
        </td>

        </tr>
    </tbody></table>
</div>
</div>
