  <div class="signature">
            <tr>
                <td>
                    <font style="font-weight: bold; font-family: Arial; font-size: 12pt; color: rgb(51, 51, 51);">Hasan Basri</font>
                </td>
            </tr>
            <tr>
                <td>
            <font style="font-style: italic; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);">Freelance programmer</font>
                </td>
            </tr>
            <p class="customline1">
            <font style="font-family: Arial; font-size: 8pt; color: rgb(136, 136, 136);">Also known as creatorb [creatorbe] an a muslim who has passion for searching, researching, learning new things to acquiring immense knowledge for help others. Everyday i spend my day as software engineer, life in front of a computer as i am coding,debugging,reading,discussing and spare my time to learn Quran.</font></p>
    <table cellspacing="0" cellpadding="0" border="0">
    <tbody>
    <tr>
        <td style="border-left: 3px solid #414141; vertical-align: middle;">
            <table cellspacing="0" cellpadding="0" border="0" style="padding-left: 10px;">
                <tbody><tr>
                    <td style="padding-right: 10px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong>WA</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="tel:+6289619060672" style="color: #06c">+6289619060672</a></font>
                    </td>
                </tr>
                
                <tr>
                    <td style="padding-right: 10px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong>TG</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="https://telegram.me/creatorbe" style="color: #06c">@creatorbe</a></font>
                    </td>
                </tr>

                <tr>
                    <td style="padding-right: 10px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong>BBM</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="https://raw.githubusercontent.com/creatorbe/creatorbe.github.io/master/static/img/bbm-creatorbe.jpg" target="_blank" style="color: #06c">5F5353B6</a></font>
                    </td>
                </tr>

                <tr>
                    <td style="padding-right: 10px; font-family: Arial; font-size: 10pt; color: rgb(51, 51, 51);"><strong> Email</strong></td>
                    <td style="font-family: Arial; font-size: 10pt;">
                        <font style="font-family: Arial; font-size: 10pt;"><a href="mailto:creatorb45@gmail.com" style="color: #06c">creatorb45@gmail.com</a></font>
                    </td>
                </tr>
                
            </tbody></table>
        </td>
        
        </tr>
    </tbody></table>

</div>
